<html>
<head>
  <title>PaymentsJS Demo App</title>
</head>
<body>

<main class="main-body container">
  <div class="wrapper">
    <h1>Running a Payment</h1>
  </div>
  <hr>
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-3">
        <h3>Payment Form</h3>
        <div class="input-group">
          <label>cardNumber</label>
          <input type="text" class="form-control" id="cardNumber" value="5454545454545454">
        </div>
        <br/>
        <div class="input-group">
          <label>cardExpiration</label>
          <input type="text" class="form-control" id="cardExpiration" value="0928">
        </div>
        <br/>
        <div class="input-group">
          <label>cardCvv</label>
          <input type="text" class="form-control" id="cardCvv" value="123">
        </div>
        <br/>
        <div class="btn-group-vertical" style="width:100%">
          <button type="button" class="btn btn-primary" onclick="doPayment()">Submit</button>
        </div>
        <hr>
      </div>
      <div class="col-xs-9">
        <h3>Configuration / Result</h3>
        <pre id="paymentResult">const el = id => document.getElementById(id)

PayJS.Methods.CreditCard.data = {
  number: el('cardNumber').value,
  expiration: el('cardExpiration').value,
  cvv: el('cardCvv').value
}


PayJS.Operations.Payment.data = {
  totalAmount: '1.00'
}

PayJS.API.Request.Send({
  methods: [ PayJS.Methods.CreditCard ],
  operations: [ PayJS.Operations.Payment ],
  features: [ ],
  options: { /*...*/ },
  callback: () => { /*...*/ },
});</pre>
      </div>
    </div>
  </div>
</main>



<script type="text/javascript"  src="https://qa.sagepayments.net/pay/dist/2.0.0/pay-core.js"></script>
<script type="text/javascript">
    const el = id => document.getElementById(id);

    function doPayment() {

        PayJS.Methods.CreditCard.data = {
            number: '4111111111111111',
            expiration: '0220',
            cvv: '123'
        }


        PayJS.Operations.Vault.data = {
            token: {tokenID}
            operation: 'Delete'
        }


        PayJS.API.Request.Send({
            methods: [ PayJS.Methods.CreditCard ],
            operations: [ PayJS.Operations.Vault ],
            features: [ ],
            options: { auth: { url: 'https://qa.sagepayments.net/PaymentJSAuth/auth' } },
            callback: (err, xhr, data, hash) => {
            el('paymentResult').innerText = JSON.stringify(PayJS.API.Request.parseCallback(err, xhr, data, hash), null, 2)
    }
    });
    }



</script>

</body>
</html>
